/* ------------------
    Setup
------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #ffffff;
}

/* ------------------
    Header
------------------ */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)), url(../images/succulent-tray.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    font-size: 400%;
    color: #ffffff;
    margin: 25px;
    float: left;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
}

.main-nav li {
    display: inline-block;
}


/* --------------
    Reusable Components
-------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    color: #ffffff;
    font-size: 400%;
    float: left;
    margin: 15px;
}

/* .grid-wrapper {
    display: inline-grid;
    grid-template-columns: auto auto auto;
} */